/*----------------------------------------
------------------------------------------
	## HOME
------------------------------------------
----------------------------------------*/

body.home {
	.wrap {
		overflow: hidden;
		
		#banner {
			height: 826px;
			padding-top: 70px;
			overflow: visible;
			z-index: 9;

			@media #{$mq-xl-max} {
				height: 750px;
			}

			@media #{$mq-md-max} {
				padding-top: 50px;
			}

			@media #{$mq-sm-max} {
				height: auto;
				background: url(../img/anima/bg.jpg) 250px 0 no-repeat;
				background-size: 100% 550px;
				padding-top: 40px;
			}

			@media #{$mq-xs-max} {
				background-size: unset;
				background-position: 150px -100px;
			}

			.anima {
				position: absolute;
				height: 100%;
				right: 0;
				top: 0;
				width: 70%;
				z-index: 0;

				@media #{$mq-xl-max} {
					width: 100%;
				}

				@media #{$mq-sm-max} {
					display: none;
				}

				.cloud-01 {
					position: absolute;
					z-index: 1;
					top: 150px;
					left: 0;

					@media #{$mq-xl-max} {
						left: 50px;
						top: 100px;
					}

					@media #{$mq-md-max} {
						display: none;
					}
				} // END CLOUD 01

				.cloud-02 {
					position: absolute;
					z-index: 1;
					top: 30px;
					left: 400px;

					@media #{$mq-xl-max} {
						left: 400px;
						top: 50px;
					}

					@media #{$mq-md-max} {
						top: 0;
					}
				} // END CLOUD 02

				.cloud-03 {
					position: absolute;
					z-index: 1;
					top: 250px;
					right: 200px;

					@media #{$mq-xl-max} {
						top: 200px;
						right: 250px;
					}

					@media #{$mq-md-max} {
						display: none;
					}
				} // END CLOUD 03

				.cloud-04 {
					position: absolute;
					z-index: 1;
					top: 170px;
					right: 50px;

					@media #{$mq-xl-max} {
						right: 70px;
						top: 150px;
					}
				} // END CLOUD 04

				.bg {
					position: absolute;
					top: -30px;
					right: 0;
					z-index: 0;
					width: 100%;
					height: 100%;

					@media #{$mq-xl-max} {
						right: -150px;
						width: 90%;
					}

					@media #{$mq-lg-max} {
						right: -250px;
					}
				} // END BG

				.people {
					position: absolute;
					bottom: -50px;
					left: 10vw;
					z-index: 4;
					height: 700px;

					@media #{$mq-xxl-max} {
						left: auto;
						right: 40px;
					}

					@media #{$mq-xl-max} {
						height: 630px;
						bottom: -60px;
					}

					@media #{$mq-lg-max} {
						height: 580px;
						bottom: 0;
						right: 20px;
					}

					@media #{$mq-md-max} {
						right: -100px;
					}

					> div {
						display: block;
						width: 542px;
						height: 780px;
					} // END > DIV
				} // END PEOPLE

				.trees {
					position: absolute;
					bottom: 70px;
					left: 5vw;
					z-index: 2;

					@media #{$mq-xl-max} {
						left: auto;
						right: 15vw;
						bottom: 50px;
					}

					@media #{$mq-md-max} {
						right: -10vw;
					}
				} // END TREES
			} // END ANIMA

			.mobile {
				display: none;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 0;
				width: 100%;

				@media #{$mq-xs-max} {
					display: block;
				}

				.cloud-01 {
					position: absolute;
					top: 70px;
					right: -150px;
					max-width: 80%;
				} // END CLOUD 01

				.cloud-02 {
					position: absolute;
					top: 150px;
					right: -40px;
					max-width: 70%;
				} // END CLOUD 02
			} // END MOBILE

			.container {
				position: relative;
				z-index: 2;

				.phone {
					position: absolute;
					right: 0;
					bottom: -250px;
					z-index: 3;

					@media #{$mq-xxl-max} {
						right: -150px;
						bottom: -300px;
					}

					@media #{$mq-xl-max} {
						bottom: -200px;
						right: -100px;
						width: 650px;
					}

					@media #{$mq-lg-max} {
						right: -130px;
						bottom: -150px;
					}

					@media #{$mq-md-max} {
						display: none;
					}

					@media #{$mq-sm-max} {
						display: block;
						width: 570px;
						bottom: auto;
						top: 140px;
						right: -170px;
						transform: rotate(-30deg);
					}

					@media #{$mq-xs-max} {
						display: none;
					}
				} // END PHONE

				.text-giant {
					padding-top: 200px;
					color: $purple-dark;

					@media #{$mq-sm-max} {
						padding-top: 150px;
					}

					@media #{$mq-xs-max} {
						padding-top: 130px;
					}

					@media #{$mq-xxs-max} {
						padding-left: 15px
					}

					span {
						@media #{$mq-xl-max} {
							display: block;
						}
					} // END SPAN
				} // END TEXT GIANT

				.text-large {
					color: $gray-medium;
					display: block;
					margin: 20px 0 50px 0;

					@media #{$mq-xl-max} {
						margin-bottom: 30px;
					}

					@media #{$mq-xxs-max} {
						padding-left: 15px
					}

					br {
						display: none;

						@media #{$mq-xl-max} {
							display: block;
						}

						@media #{$mq-xs-max} {
							display: none;
						}
					} // END BR
				} // END TEXT LARGE

				.search-form {
					position: relative;
					display: block;
					margin-bottom: 70px;
					z-index: 6;

					@media #{$mq-xl-max} {
						margin-bottom: 40px;
					}

					@media #{$mq-xs-max} {
						margin-bottom: 30px;
					}

					form {
						display: block;
						width: 100%;
						position: relative;

						.line {
							position: relative;
							display: block;
							border-radius: 20px;
							overflow: hidden;
							box-shadow: 0 0 20px 0 rgba(0, 0, 0, .2);
							width: 600px;
							max-width: 100%;
							background-color: $white;

							@media #{$mq-xl-max} {
								width: 500px;
								border-radius: 10px;
							}

							@media #{$mq-lg-max} {
								width: 450px;
							}

							@media #{$mq-sm-max} {
								width: 320px;
							}

							@media #{$mq-xs-max} {
								width: 100%;
								border-radius: 5px;
							}
							
							.input {
								float: left;
								display: block;
								border: none;
								color: $gray-medium;
								height: 70px;
								line-height: 70px;
								padding: 0 20px;

								@media #{$mq-xl-max} {
									padding: 0 15px;
								}

								@media #{$mq-sm-max} {
									height: 50px;
									line-height: 50px;
									float: none;
								}

								&.input-what {
									// width: calc(100% / 2 + 40px);
									width: calc(100% - 80px);

									@media #{$mq-xl-max} {
										// width: calc(100% / 2 + 20px);
									}

									@media #{$mq-sm-max} {
										width: 100%;
									}
								} // END INPUT WHAT

								/*
								&.input-zip {
									width: calc(100% / 2 - 130px);

									@media #{$mq-xl-max} {
										width: calc(100% / 2 - 100px);
									}

									@media #{$mq-sm-max} {
										width: 100%;
									}
								} // END INPUT ZIP
								*/
							} // END INPUT

							/*
							.sep {
								float: left;
								display: block;
								width: 1px;
								height: 50px;
								background-color: $gray-light;
								margin: 10px 9px 0 9px;
								opacity: .5;

								@media #{$mq-xl-max} {
									margin: 10px 4px 0 5px;
								}

								@media #{$mq-sm-max} {
									width: calc(100% - 20px);
									height: 1px;
									margin: 5px auto;
									float: none;
								}
							} // END SEP
							*/

							.button-go {
								float: right;
								display: inline-block;
								text-align: center;
								width: 70px;
								height: 70px;
								line-height: 70px;
								background-color: $purple-medium;
								color: $white;
								font-weight: $bold;
								cursor: pointer;
								transition: background-color .3s;

								@media #{$mq-sm-max} {
									width: 100%;
									height: 55px;
									line-height: 55px;
									float: none;
									display: block;
								}

								@media #{$mq-xs-max} {
									height: 50px;
									line-height: 50px;
								}

								&:hover,
								&:focus {
									background-color: $purple-light;
								} // END HOVER / FOCUS
							} // END BUTTON GO
						} // END LINE

						.hidden-form {
							opacity: 0;
							visibility: hidden;
							position: absolute;
							top: 100px;
							width: 100%;
							left: 0;
							z-index: 20;
							background-color: $white;
							border-radius: 30px;
							box-shadow: 0 0 30px 0 rgba(0, 0, 0, .2);
							padding: 30px 10px;
							transition: .6s;
							transform: translateY(-50px);

							@media #{$mq-sm-max} {
								top: 190px;
								border-radius: 10px;
								padding: 10px 0;
							}

							@media #{$mq-xs-max} {
								top: 175px;
							}

							&.active {
								opacity: 1;
								visibility: visible;
								transform: none;
							} // END ACTIVE

							.close-services {
								position: absolute;
								top: -20px;
								right: -20px;
								z-index: 3;
								display: block;
								width: 70px;
								height: 70px;
								border-radius: 50%;
								text-align: center;
								background-color: $purple-lighter;
								cursor: pointer;

								@media #{$mq-sm-max} {
									width: 50px;
									height: 50px;
								}

								@media #{$mq-xs-max} {
									display: none;
								}

								&:hover {
									img,
									svg {
										transform: translate(-50%, -50%) rotate(360deg);
									} // END IMG / SVG
								} // END HOVER

								img,
								svg {
									position: absolute;
									top: 50%;
									left: 50%;
									transform: translate(-50%, -50%);
									width: 25px;
									height: 25px;
									transition: .6s;

									@media #{$mq-sm-max} {
										width: 20px;
										height: 20px;
									}

									path {
										fill: $white;
									} // END PATH
								} // END IMG / SVG
							} // END CLOSE SERVICES

							.services-slider {
								.general-slide {
									.box {
										&:nth-child(6) {
											clear: both;

											@media #{$mq-md-max} {
												clear: unset;
											}
										} // END NTH CHILD 6

										&:nth-child(5) {
											@media #{$mq-md-max} {
												clear: both;
											}

											@media #{$mq-xs-max} {
												clear: unset;
											}
										} // END NTH CHILD 5

										&:nth-child(4) {
											@media #{$mq-xs-max} {
												clear: both;
											}

											@media #{$mq-xxs-max} {
												clear: unset;
											}
										} // END NTH CHILD 4

										&:nth-child(3) {
											@media #{$mq-xxs-max} {
												clear: both;
											}
										} // END NTH CHILD 3
									} // END BOX
								} // END GENERAL SLIDE

								.internal {
									> .box {
										&:nth-child(8) {
											clear: both;

											@media #{$mq-md-max} {
												clear: unset;
											}
										} // END NTH CHILD 8

										&:nth-child(7) {
											@media #{$mq-md-max} {
												clear: both;
											}

											@media #{$mq-xs-max} {
												clear: unset;
											}
										} // END NTH CHILD 7

										&:nth-child(6) {
											@media #{$mq-xs-max} {
												clear: both;
											}

											@media #{$mq-xxs-max} {
												clear: unset;
											}
										} // END NTH CHILD 6

										&:nth-child(odd) {
											@media #{$mq-xxs-max} {
												clear: both;
											}
										} // END NTH CHILD 5
									} // END BOX
								} // END INTERNAL

								.box {
									text-align: center;
									display: block;
									float: left;
									width: 20%;
									padding: 20px 0;
									cursor: pointer;
									overflow: hidden;
									transition: .3s;

									@media #{$mq-md-max} {
										width: 25%;
									}

									@media #{$mq-xs-max} {
										width: 33.3333%;
									}

									@media #{$mq-xxs-max} {
										width: 50%;
										padding: 10px 0;
									}

									&:hover {
										transform: translateY(-10px);
									} // END HOVER

									img {
										display: block;
										margin: 0 auto;
									} // END IMG

									p {
										color: $purple-medium;
										font-weight: $bold;
										line-height: 1.2;
										padding-top: 20px;
									} // END P
								} // END BOX

								.close-services-inside {
									display: none;
									width: 70%;
									margin: 20px auto 40px auto;
									padding: 10px 0;
									text-align: center;
									font-weight: $bold;
									color: $white;
									background-color: $purple-medium;
									border-radius: 50px;
									cursor: pointer;
									transition: .3s;

									@media #{$mq-xs-max} {
										display: block;
									}

									&:hover {
										background-color: $purple-light;
									} // END HOVER
								} // END CLOSE SERVICES INSIDE

								.title-selected {
									display: inline-block;
									cursor: pointer;
									padding: 10px 0 20px 40px;

									@media #{$mq-sm-max} {
										padding: 20px 0 20px 20px;
									}

									.circle {
										display: inline-block;
										vertical-align: middle;
										width: 40px;
										height: 40px;
										border-radius: 50%;
										box-shadow: inset 0 0 0 1px $gray-light;
										text-align: center;
										position: relative;
										margin-right: 10px;

										img,
										svg {
											display: block;
											width: 15px;
											height: 15px;
											position: absolute;
											top: 50%;
											left: 50%;
											transform: translate(-50%, -50%);

											path {
												fill: $gray-light;
											} // END PATH
										} // END IMG / SVG
									} // END CIRCLE

									p {
										display: inline-block;
										vertical-align: middle;
										font-weight: $bold;
										color: $purple-medium;
									} // END P
								} // END TITLE SELECTED
							} // SERVICES SLIDER
						} // END HIDDEN FORM
					} // END FORM
				} // END SEARCH FORM

				.details {
					@media #{$mq-sm-max} {
						padding-bottom: 50px;
					}

					@media #{$mq-xxs-max} {
						padding-bottom: 30px;
						padding-left: 15px;
					}

					p {
						display: block;
						text-transform: uppercase;
						color: $gray-medium;
						letter-spacing: 5px;
						margin-bottom: 20px;
					} // END P

					a {
						pointer-events: none;
						display: inline-block;
						vertical-align: middle;
						margin-right: 10px;

						@media #{$mq-md-max} {
							display: block;
							margin-right: 0;
							margin-bottom: 5px;
						}

						@media #{$mq-xs-max} {
							display: inline-block;
							margin-bottom: 0;
							margin-right: 5px;
						}

						img {
							@media #{$mq-xxxs-max} {
								width: 130px;
							}
						} // END IMG
					} // END A
				} // END DETAILS

				.mob {
					display: none;

					@media #{$mq-xs-max} {
						display: block;
						margin: 0 auto;
						max-width: 90%;
					}
				} // END MOB
			} // END CONTAINER
		} // END BANNER

		#our-history {
			padding-top: 250px;

			@media #{$mq-xxl-max} {
				padding-top: 200px;
			}

			@media #{$mq-xl-max} {
				padding-top: 150px;
			}

			@media #{$mq-lg-max} {
				padding-top: 100px;
			}

			@media #{$mq-sm-max} {
				padding-top: 70px;
			}

			@media #{$mq-xs-max} {
				padding-top: 50px;
			}

			.left {
				@media #{$mq-sm-max} {
					text-align: center;
				}

				.line {
					display: block;
					width: 90px;
					height: 3px;
					background-color: $purple-light;
					border-radius: 4px;

					@media #{$mq-sm-max} {
						margin: 0 auto;
					}
				} // END LINE

				.text-giant {
					display: block;
					margin: 30px 0;
					color: $purple-dark;

					@media #{$mq-sm-max} {
						margin-bottom: 20px;
					}

					@media #{$mq-xs-max} {
						margin-top: 20px;
						margin-bottom: 10px;
					}

					br {
						@media #{$mq-sm-max} {
							display: none;
						}
					} // END BR
				} // END TEXT GIANT

				.text-medium {
					letter-spacing: 10px;
					text-transform: uppercase;
					color: $gray-medium;

					@media #{$mq-sm-max} {
						letter-spacing: 5px;
						padding-left: 5px;
					}
				}
			} // END LEFT

			.right {
				p {
					padding-top: 50px;
					color: $gray-medium;

					@media #{$mq-sm-max} {
						padding-top: 20px;
						text-align: center;
					}
				} // END P
			} // END RIGHT
		} // END OUR HISTORY

		#how-it-works {
			padding-top: 250px;
			overflow: visible;

			@media #{$mq-md-max} {
				padding-top: 150px;
			}

			@media #{$mq-sm-max} {
				padding-top: 100px;
			}

			@media #{$mq-xs-max} {
				padding-top: 70px;
			}

			.blob-left {
				position: absolute;
				left: 0;
				top: 150px;
				z-index: 1;

				@media #{$mq-xl-max} {
					top: 50px;
				}

				@media #{$mq-lg-max} {
					max-width: 40%;
				}

				@media #{$mq-sm-max} {
					max-width: 60%;
					top: 400px;
				}

				@media #{$mq-xs-max} {
					top: 300px;
				}
			} // END BLOB LEFT

			.blob-right {
				position: absolute;
				right: 0;
				bottom: -200px;
				z-index: 0;

				@media #{$mq-lg-max} {
					max-width: 50%;
				}

				@media #{$mq-md-max} {
					bottom: -50px;
				}

				@media #{$mq-sm-max} {
					max-width: 60%;
					bottom: -100px;
				}
			} // END BLOB RIGHT

			.container {
				position: relative;
				z-index: 2;

				.top-row {
					text-align: right;

					@media #{$mq-sm-max} {
						text-align: center;
					}

					.line {
						display: block;
						float: right;
						width: 90px;
						height: 3px;
						background-color: $purple-light;
						border-radius: 4px;
						margin-right: 475px;

						@media #{$mq-xl-max} {
							margin-right: 0;
						}

						@media #{$mq-sm-max} {
							margin: 0 auto;
							float: none;
						}
					} // END LINE

					.text-giant {
						color: $purple-dark;
						padding-top: 20px;
					} // END TEXT GIANT

					.text-medium {
						color: $gray-medium;

						br {
							@media #{$mq-sm-max} {
								display: none;
							}
						} // END BR
					} // END TEXT MEDIUM
				} // END TOP ROW

				.bot-row {
					margin-top: -200px;

					@media #{$mq-md-max} {
						margin-top: -50px;
					}

					@media #{$mq-sm-max} {
						margin-top: 100px;
					}

					@media #{$mq-xxs-max} {
						margin-top: 80px;
					}

					.box {
						background-color: $white;
						box-shadow: 0 0 20px rgba(0,0,0,.2);
						border-radius: 30px;
						position: relative;
						padding: 35px 45px;
						max-width: 95%;
						margin-left: auto;
						margin-right: auto;

						@media #{$mq-xl-max} {
							padding: 30px;
							text-align: center;
						}

						@media #{$mq-sm-max} {
							border-radius: 20px;
						}

						@media #{$mq-xs-max} {
							border-radius: 10px;
							padding: 30px 20px 20px 20px;
						}

						&.box-2 {
							margin-top: 220px;

							@media #{$mq-xl-max} {
								margin-top: 200px;
							}

							@media #{$mq-md-max} {
								margin-top: 100px;
							}

							@media #{$mq-sm-max} {
								margin-top: 70px;
							}
						} // END BOX 2

						&.box-3 {
							margin-top: 440px;

							@media #{$mq-xl-max} {
								margin-top: 400px;
							}

							@media #{$mq-md-max} {
								margin-top: 200px;
							}

							@media #{$mq-sm-max} {
								margin-top: 70px;
							}
						} // END BOX 3

						.how {
							position: absolute;
							right: -30px;
							top: -50px;
							z-index: 3;
							width: 320px;
							max-width: 100%;
							max-height: 260px;
							height: auto;

							@media #{$mq-xl-max} {
								position: relative;
								right: auto;
								display: block;
								margin: -80px auto 0 auto;
								top: auto;
							}

							@media #{$mq-xs-max} {
								width: 250px;
							}

							&#how-03 {
								@media #{$mq-xl-max} {
									margin-bottom: -40px;
								}
							} // END HOW 03
						} // END HOW

						.text-x-large {
							font-weight: $bold;
							position: absolute;
							top: -20px;
							right: -20px;
							width: 130px;
							height: 130px;
							border-radius: 100px;
							z-index: 1;
							text-align: center;
							display: flex;
							align-items: center;
							justify-content: center;
							color: $white;
							list-style: 1;
							background-color: $purple-medium;

							@media #{$mq-lg-max} {
								width: 100px;
								height: 100px;
								right: 20px;
								top: -50px;
							}

							@media #{$mq-md-max} {
								right: 20px;
								width: 70px;
								height: 70px;
								top: -35px;
							}

							@media #{$mq-sm-max} {
								width: 100px;
								height: 100px;
								top: -50px;
								left: 30%;
								right: 0;
								margin: 0 auto;
							}

							@media #{$mq-xs-max} {
								left: 45%;
								width: 80px;
								height: 80px;
								top: -40px;
							}
						} // END TEXT X LARGE

						.text-large {
							color: $purple-dark;

							@media #{$mq-xxl-max} {
								margin-left: -20px;
							}

							@media #{$mq-xl-max} {
								display: block;
								margin: 15px auto;
								text-align: center;
							}

							@media #{$mq-xs-max} {
								margin-bottom: 5px;
							}
						} // END TEXT LARGE

						.line {
							display: block;
							width: 3px;
							border-radius: 3px;
							height: 90px;
							background-color: $purple-light;
							margin: 20px 0 30px 35px;
							position: relative;

							@media #{$mq-xxl-max} {
								margin-left: 5px;
							}

							@media #{$mq-xl-max} {
								display: none;
							}

							&:after {
								position: absolute;
								content: "";
								display: block;
								width: 100%;
								height: 5px;
								z-index: 2;
								background-color: $white;
								left: 0;
								bottom: 30px;
							} // END AFTER
						} // END LINE

						.text-small {
							color: $gray-medium;
						} // END TEXT SMALL
					} // END BOX
				} // END BOT ROW
			} // END CONTAINER
		} // END HOW IT WORKS

		#more {
			padding-top: 200px;
			overflow: visible;

			@media #{$mq-xxl-max} {
				padding-top: 150px;
				padding-bottom: 50px;
			}

			@media #{$mq-md-max} {
				padding-top: 90px;
			}

			@media #{$mq-xs-max} {
				padding-top: 50px;
			}

			.logo-bg {
				position: absolute;
				top: 0;
				left: 0;
				width: 1020px;
				max-width: 100%;
				margin-left: -50px;
				height: auto;
				opacity: .3;

				@media #{$mq-md-max} {
					display: none;
				}

				path {
					fill: $almost-white;
				} // END PATH
			} // END LOGO BG

			.container {
				position: relative;
				z-index: 2;

				.left {
					text-align: center;

					img {
						@media #{$mq-sm-max} {
							width: 300px;
							display: block;
							margin: 0 auto;
							max-width: 70%;
						}
					} // END IMG
				} // END LEFT

				.right {
					@media #{$mq-md-max} {
						padding-top: 30px;
					}

					@media #{$mq-sm-max} {
						text-align: center;
					}

					.line {
						display: block;
						width: 320px;
						height: 3px;
						background-color: $purple-light;
						border-radius: 3px;
						margin: 90px 0 40px 270px;

						@media #{$mq-xl-max} {
							margin-left: 0;
							width: 200px;
						}

						@media #{$mq-md-max} {
							display: none;
						}
					} // END LINE

					.text-x-large {
						color: $purple-dark;

						br {
							@media #{$mq-xxl-max} {
								display: none;
							}
						} // END BR

						strong {
							display: block;
						} // END STRONG
					} // END TEXT X LARGE

					.text-medium {
						color: $gray-medium;
						display: block;
						margin: 50px 0;

						@media #{$mq-lg-max} {
							margin: 10px 0 30px 0;
						}

						@media #{$mq-md-max} {
							margin-bottom: 20px;
						}

						br {
							@media #{$mq-md-max} {
								display: none;
							}
						} // END BR
					} // END TEXT MEDIUM

					.buttons {
						display: block;

						@media #{$mq-sm-max} {
							margin-bottom: 50px;
						}

						@media #{$mq-xs-max} {
							margin-bottom: 30px;
						}

						p {
							display: block;
							text-transform: uppercase;
							color: $gray-medium;
							letter-spacing: 5px;
							margin-bottom: 20px;
						} // END P

						a {
							display: inline-block;
							pointer-events: none;
							margin-right: 10px;
							vertical-align: middle;

							@media #{$mq-lg-max} {
								display: block;
								margin-right: 0;
								margin-bottom: 5px;
							}

							@media #{$mq-sm-max} {
								display: inline-block;
								margin: 0 5px;
							}

							img {
								@media #{$mq-xs-max} {
									width: 150px;
								}
							}
						} // END A
					} // END BUTTONS
				} // END RIGHT
			} // END CONTAINER
		} // END MORE

	} // END WRAP
} // END BODY / HOME