#inc-provider {
	background: $purple-medium url(../img/bottom-bg.png) right center no-repeat;

	@media #{$mq-md-max} {
		background-image: none;
	}

	&.user {
		&:before,
		&:after {
			height: 100px;

			@media #{$mq-xxl-max} {
				height: 70px;
			}

			@media #{$mq-xl-max} {
				height: 30px;
			}

			@media #{$mq-lg-max} {
				height: 10px;
			}
		} // END BEFORE / AFTER

		.container {
			.right {
				@media #{$mq-sm-max} {
					display: none;
				}
			} // END RIGHT
		} // END CONTAINER
	} // END USER

	&:before,
	&:after {
		position: absolute;
		z-index: 1;
		display: block;
		width: 100%;
		height: 150px;
		background-color: $white;
		left: 0;
		content: "";

		@media #{$mq-xxl-max} {
			height: 70px;
		}

		@media #{$mq-xl-max} {
			height: 30px;
		}

		@media #{$mq-lg-max} {
			height: 10px;
		}
	} // END BEFORE / AFTER

	&:before {
		top: 0;

		@media #{$mq-sm-max} {
			display: none;
			content: none;
		}
	} // END BEFORE

	&:after {
		bottom: 0;

		@media #{$mq-sm-max} {
			height: 200px;
		}

		@media #{$mq-xs-max} {
			height: 100px;
		}
	} // END AFTER

	.container {
		position: relative;
		z-index: 2;

		.left {
			display: flex;
			align-items: center;
			padding-top: 100px;
			padding-bottom: 100px;

			@media #{$mq-xl-max} {
				padding-top: 50px;
				padding-bottom: 50px;
			}

			@media #{$mq-md-max} {
				padding-top: 30px;
				padding-bottom: 30px;
			}

			@media #{$mq-sm-max} {
				display: block;
				text-align: center;
				padding: 50px 15px;
			}

			@media #{$mq-xs-max} {
				padding: 50px 15px 40px 15px;
			}

			.text-large {
				color: $white;
				padding-left: 5px;

				@media #{$mq-sm-max} {
					padding-left: 0;
				}
			} // END TEXT LARGE

			p {
				color: $purple-lighter;
				display: block;
				margin: 10px 0 25px 0;
				padding-left: 5px;

				@media #{$mq-md-max} {
					margin: 10px 0 15px 0;
				}

				@media #{$mq-sm-max} {
					margin: 10px auto 15px auto;
					padding-left: 0;
				}
			} // END P

			a {
				@media #{$mq-sm-max} {
					margin: 0 auto;
				}
			} // END A

		} // END LEFT

		.right {
			text-align: center;

			img {
				@media #{$mq-sm-max} {
					width: 500px;
					max-width: 80%;
					margin: 0 auto;
					display: block;
				}
			} // END IMG
		} // END RIGHT
	} // END CONTAINER
} // END INC PROVIDER