/*----------------------------------------
------------------------------------------
	## MENU TOP
------------------------------------------
----------------------------------------*/

#menu-top {
	z-index: 10;
	position: absolute;
	top: 100px;
	text-align: right;
	width: 100%;
	overflow: visible;

	@media #{$mq-md-max} {
		top: 80px;
	}

	@media #{$mq-sm-max} {
		top: 50px;
	}

	&.open {
		#open-fs {
			svg,
			img {
				&.open {
					opacity: 0;
				} // END OPEN

				&.close {
					opacity: 1;
				} // END CLOSE
			} // END SVG / IMG
		} // END OPEN FS
	} // END OPEN

	.col-12 {
		position: relative;

		#logo-top {
			position: absolute;
			top: -30px;
			left: 0;
			display: inline-block;

			@media #{$mq-sm-max} {
				top: -10px;
				left: 15px;
			}

			@media #{$mq-xs-max} {
				top: -15px;
			}

			img,
			svg {
				width: 290px;

				@media #{$mq-md-max} {
					width: 250px;
				}

				@media #{$mq-sm-max} {
					width: 200px;
					height: 80px;
				}
			} // END IMG / SVG
		} // END LOGO TOP

		.menu {
			@media #{$mq-lg-max} {
				display: none;
			}

			li {
				display: inline-block;
				margin-left: 30px;

				@media #{$mq-xxl-max} {
					margin-left: 20px;
				}

				.white-button {
					background-color: $white;
					color: $purple-medium;
					padding: 10px 30px;
					cursor: pointer;
					line-height: 1;
					border-radius: 50px;
					transform: translateY(4px);
					transition: .3s;

					&:hover,
					&:focus {
						background-color: $purple-dark;
						color: $white;
					} // END HOVER / FOCUS
				} // END WHITE BUTTON

				&.or {
					margin-left: 10px;
					margin-right: -20px;

					@media #{$mq-xxl-max} {
						margin-right: -10px;
					}

					p {
						color: $white;
					} // END P
				} // END OR

				.hollow-button {
					background-color: transparent;
					box-shadow: inset 0 0 0 1px $white;
					color: $white;
					padding: 10px 30px;
					cursor: pointer;
					line-height: 1;
					border-radius: 50px;
					transform: translateY(4px);
					transition: .3s;

					&:hover,
					&:focus {
						background-color: $white;
						color: $purple-dark;
					} // END HOVER / FOCUS
				} // END HOLLOW BUTTON

				&.logged-in {
					display: none;
				} // END LOGGED IN

				a {
					display: inline-block;
					color: $white;
					font-weight: $bold;

					&:before {
						background-color: $white;
					} // END BEFORE
				} // END A
			} // END LI
		} // END MENU

		#open-fs {
			display: none;
			width: 50px;
			height: 50px;
			text-align: center;
			position: relative;
			border-radius: 50%;
			box-shadow: inset 0 0 0 2px $white;
			background-color: transparent;
			border: none;
			float: right;

			@media #{$mq-lg-max} {
				display: block;
			}

			svg,
			img {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				display: block;
				width: 20px;
				height: 20px;
				transition: opacity .3s;

				path {
					fill: $white;
				} // END PATH
			} // END IMG / SVG
		} // END OPEN FS
	} // END COL 12
} // END MENU TOP