/*----------------------------------------
------------------------------------------
	## SIGN USER
------------------------------------------
----------------------------------------*/

body.sign-user {
	&.forgot {
		#banner {
			.container {
				.phone {
					bottom: -400px;
				} // END PHONE
			} // END CONTAINER
		} // END BANNER
	} // END FORGOT

	#banner {
		height: auto;

		.anima {
			height: 150%;

			@media #{$mq-md-max} {
				height: 130%;
			}

			.bg {
				@media #{$mq-md-max} {
					height: 600px;
				}
			} // END BG
		} // END ANIMA

		.container {
			.phone {
				bottom: -500px;
				z-index: 0;

				@media #{$mq-lg-max} {
					right: -170px;
					bottom: -450px;
				}

				@media #{$mq-md-max} {
					display: none;
				}
			} // END PHONE

			.select {
				padding-top: 200px;
				padding-left: 5px;
				position: relative;
				z-index: 2;

				@media #{$mq-md-max} {
					padding-top: 180px;
				}

				@media #{$mq-sm-max} {
					padding-top: 150px;
				}

				@media #{$mq-xs-max} {
					padding-top: 100px;
					margin-top: 50px;
				}

				@media #{$mq-xxs-max} {
					padding-top: 80px;
				}

				p {
					display: inline-block;
					vertical-align: middle;
					padding-right: 20px;
					margin-top: 0;
					padding-bottom: 0;

					@media #{$mq-xs-max} {
						padding-left: 10px;
						padding-bottom: 10px;
					}
				} // END P

				.line {
					display: inline-block;
					vertical-align: middle;
					position: relative;

					@media #{$mq-xs-max} {
						display: block;
						width: 100%;
					}

					select {
						display: block;
						width: 300px;
						padding: 20px;
						color: $gray-medium;
						border-radius: 10px;
						border: 1px solid $gray-light;
						background-color: $white;
						appearance: none;
						cursor: pointer;

						@media #{$mq-xs-max} {
							width: 100%
						}
					} // END SELECT

					img,
					svg {
						display: block;
						position: absolute;
						right: 10px;
						top: 50%;
						transform: translateY(-50%);
						width: 20px;
						height: 20px;
						z-index: 2;
						pointer-events: none;

						path {
							fill: $gray-light;
						} // END PATH
					} // END IMG / SVG
				} // END LINE
			} // END SELECT

			.text-large {
				margin-top: 30px;
				position: relative;
				z-index: 2;
			} // END TEXT LARGE

			.text-giant {
				margin-left: 5px;
				padding-bottom: 50px;
				position: relative;
				z-index: 2;

				&.sign-up {
					margin-left: 0;
					padding-top: 30px;
				}

				@media #{$mq-xs-max} {
					padding-bottom: 30px;
					margin-top: -10px;
				}
			} // END TEXT GIANT
		} // END CONTAINER
	} // END BANNER

	#content {
		z-index: 4;

		.left {
			.form {
				display: block;
				width: 100%;

				&.sign-up {
					.dropzone {
						min-height: 250px;
						height: auto;
						border-width: 2px;
						border-color: $gray-lighter;
						border-style: dashed;
						border-radius: 20px;
						background: $white;
						position: relative;
						padding-bottom: 160px;
						margin-bottom: 20px;
						transition: all .3s;
						width: 100%;

						@media #{$mq-xxl-max} {
							min-height: 200px;
							background-image: none;
						}

						@media #{$mq-sm-max} {
							padding-bottom: 140px;
						}

						@media #{$mq-xs-max} {
							margin-top: 20px;
							padding-left: 10px;
							padding-right: 10px;
						}

						.dz-default {
							display: none;
						} // END DZ DEFAULT

						#upload-files {
							display: none;
						} // END UPLOAD FILES

						.dz-preview {
							position: relative;

							@media #{$mq-xs-max} {
								margin: 10px;
								min-height: 80px;
							}

							.dz-details {
								@media #{$mq-xs-max} {
									padding: 23px 7px 0 4px;
									font-size: 10px;
								}

								.dz-size {
									@media #{$mq-xs-max} {
										margin-bottom: 5px;
										font-size: 12px;
									}
								} // END DZ DETAIL
							} // END DZ DETAILS

							.dz-progress {
								@media #{$mq-xs-max} {
									margin-top: -7px;
									width: 70px;
									margin-left: -35px;
								}
							} // END DZ PROGRESS

							.dz-image {
								@media #{$mq-sm-max} {
									width: 100px;
									height: 100px;
								}

								@media #{$mq-xs-max} {
									width: 80px;
									height: 80px;
								}
							} // END DZ IMAGE

							.dz-error-message {
								@media #{$mq-sm-max} {
									top: 110px;
									left: -20px;
								}

								@media #{$mq-xs-max} {
									top: 90px;
									left: -30px;
								}
							} // END DZ ERROR MESSAGE

							.dz-success-mark {
								@media #{$mq-xs-max} {
									margin-top: -27px;
									transform: scale(.8);
								}
							} // END DZ SUCCESS MARK

							.dz-error-mark {
								background-color: $white;
								border-radius: 50%;

								@media #{$mq-xs-max} {
									margin-top: -27px;
									transform: scale(.8);
								}

								svg {
									g {
										stroke: $red;
										stroke-opacity: 1;
										stroke-width: 2px;
										fill: $red;
										fill-opacity: 1;
									} // END G
								} // END SVG
							} // END DZ ERROR MARK

							.dz-remove {
								position: absolute;
								top: -10px;
								right: -10px;
								z-index: 99;
								display: block;
								width: 30px;
								height: 30px;
								border-radius: 50%;
								background: $red url(../img/icon-close.png) center center no-repeat;
								cursor: pointer;
								color: transparent;
								font-size: 0;
								padding: 0;
								text-align: center;
							} // END DZ REMOVE
						} // END DZ PREVIEW

						.middle {
							position: absolute;
							bottom: 30px;
							left: 0;
							right: 0;
							text-align: center;
							margin: 0 auto;

							.top {
								font-weight: $bold;
								color: $gray-dark;
								margin-bottom: 20px;
							} // END TOP

							.down {
								color: $gray-light;
								font-weight: $bold;
								display: block;
								margin: 10px auto;
							} // END DOWN

							.button-normal {
								background-color: $almost-white;
								padding: 5px 20px;
								border-radius: 50px;

								@media #{$mq-sm-max} {
									max-width: 90%;
									margin: 0 auto;
								}
							} // END BUTTON NORMAL
						} // END MIDDLE

						.purple-bt {
							position: absolute;
							bottom: -95px;
							left: 0;
							right: 0;
							margin: 0 auto;
							text-align: center;
							opacity: 0;
							visibility: hidden;
							transition: all .3s;
							cursor: pointer;

							@media #{$mq-xs-max} {
								max-width: 100%;
								bottom: -90px;
							}

							&:hover {
								background-color: $purple-dark;
								color: $white;
							} // END HOVER
						} // END PURPLE BT

						&.dz-success {
							margin-bottom: 120px;

							@media #{$mq-xs-max} {
								margin-bottom: 110px;
							}

							.purple-bt {
								opacity: 1;
								visibility: visible;
							} // END BUTTON BIG
						} // END DZ SUCCESS

					} // END DROPZONE

					.line {
						.input {
							padding-left: 30px;
						} // END INPUT

						select {
							appearance: none;
							cursor: pointer;
						} // END SELECT

						img,
						svg {
							left: auto;
							display: block;
							position: absolute;
							right: 10px;
							top: 50%;
							transform: translateY(-50%);
							width: 20px;
							height: 20px;
							z-index: 2;
							pointer-events: none;

							path {
								fill: $gray-light;
							} // END PATH
						} // END IMG / SVG

						.tec-box {
							display: block;
							overflow-y: scroll;
							overflow-x: hidden;
							width: 100%;
							height: 500px;
							text-align: left;
							background-color: $white;
							padding: 30px;
						} // END TEC BOX
					} // END LINE
				} // END SING UP

				.line {
					position: relative;
					display: block;
					margin-bottom: 20px;
					width: 100%;
					text-align: center;

					img,
					svg {
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						left: 20px;
						display: block;
						width: 20px;
						height: 20px;
						z-index: 2;
						pointer-events: none;

						path {
							fill: $gray-light;
						} // END PATH
					} // END IMG / SVG

					.input {
						display: block;
						width: 100%;
						padding: 20px 20px 20px 60px;
						color: $gray-medium;
						border: 1px solid $gray-light;
						border-radius: 10px;
						background-color: $white;
						text-align: left;

						&.password {
							padding-right: 200px;
						} // END PASSWORD
					} // END INPUT

					.forgot {
						position: absolute;
						right: 30px;
						top: 50%;
						transform: translateY(-50%);
						z-index: 2;
						color: $purple-medium;
						text-decoration: underline;
						font-weight: $bold;
						text-transform: lowercase;
						line-height: 1;
						transition: .3s;

						&:hover {
							color: $purple-light;
						} // END HOVER
					} // END FORGOT

					.or-line {
						position: absolute;
						display: block;
						width: 100%;
						height: 1px;
						background-color: $gray-light;
						top: 50%;
						transform: translateY(-50%);
						z-index: 0;

						@media #{$mq-xs-max} {
							width: 80%;
							margin: 0 auto;
							left: 0;
							right: 0;
						}
					} // END OR LINE

					.or {
						display: inline-block;
						margin: 0 auto;
						text-align: center;
						color: $gray-medium;
						text-transform: uppercase;
						z-index: 2;
						position: relative;
						background-color: $white;
						padding: 50px 20px;

						@media #{$mq-xs-max} {
							padding: 40px 20px;
						}
					} // END OR
				} // END LINE

				.purple-bt {
					display: block;
					width: 100%;
					text-align: center;

					&:hover {
						background-color: $purple-dark;
						color: $white;
					} // END HOVER
				} // END PURPLE BT

				.back {
					display: block;
					margin: 0 auto;
					text-align: center;
					padding-top: 50px;

					@media #{$mq-xs-max} {
						padding-top: 30px;
					}
				} // END BACK

				.login-buttons {
					position: relative;
					display: block;
					width: 100%;
					margin-top: -20px;

					.login-bt {
						display: block;
						width: calc(50% - 10px);
						padding: 20px;
						border-radius: 50px;
						text-align: center;
						cursor: pointer;
						transition: background-color .3s;

						&.google {
							float: left;
							box-shadow: inset 0 0 0 1px $gray-light;

							@media #{$mq-xs-max} {
								float: none;
								display: block;
								margin-bottom: 10px;
								width: 100%;
							}

							&:hover {
								background-color: $almost-white;
							} // END HOVER
						} // END GOOGLE

						&.facebook {
							float: right;
							background-color: #3b4db3;

							@media #{$mq-xs-max} {
								float: none;
								display: block;
								margin-bottom: 10px;
								width: 100%;
							}

							&:hover {
								background-color: #455bd6
							} // END HOVER

							img,
							svg {
								path {
									fill: $white;
								} // END PATH
							} // END IMG / SVG
						} // END FACEBOOK
					} // END LOGIN BT
				} // END LOGIN BUTTONS

				.final {
					display: block;
					margin-top: 40px;
					padding-bottom: 30px;

					@media #{$mq-xs-max} {
						margin-top: 30px;
						text-align: center;
					}

					&.forgot {
						text-align: center;
					} // END FORGOT

					p {
						color: $gray-medium;
						display: inline-block;
						vertical-align: top;

						a {
							color: $purple-medium;
							font-weight: $bold;
							display: inline-block;
							vertical-align: top;

							&:before {
								height: 2px;
								background-color: $purple-medium;
							} // END BEFORE
						} // END A
					} // END P
				} // END FINAL
			} // END FORM
		} // END LEFT
	} // END CONTENT

	.dz-hidden-input {
		display: none;
	} // END DZ HIDDEN INPUT
} // END BODY / SIGN USER